{% extends 'base.html' %}

{% block script %}
    <script>
        $('#date-input').datepicker({
            format: "yyyy-mm-dd",
            minDate: "today",
            endDate: "+14d",
            todayBtn: "linked"
        }).datepicker("setDate", new Date());
    </script>
{% endblock %}

{% block content %}
    <div class="low">
        <div class="col-md-10 col-md-offset-1">
            <p>{{ rest.name }}</p>
            <form action="{% url 'reservations:views:reservation' pk=rest.pk %}" method="get" class="form-inline">
                <div class="form-group">
                    <label for="date-input">날짜</label>
                    <input class="date-input datetime form-control" id="date-input" type="text" name="date" />
                </div>
                <button type="submit" class="btn btn-primary">예약</button>
            </form>
        </div>
    </div>
{% endblock %}