{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <ul class="list-group" style="height: auto;">
            <li class="list-group-item">레스토랑 이름: {{ restaurant }}</li>
            <li class="list-group-item">날짜: {{ information.date }}</li>
            <li class="list-group-item">시간: {{ information.time }}</li>
            <li class="list-group-item">예약자: {{ name }}</li>
            <li class="list-group-item">인원: {{ party }}</li>
            <li class="list-group-item">핸드폰 번호: {{ phone_number }}</li>
            <li class="list-group-item">email: {{ email }}</li>
            <li class="list-group-item">총 가격: {{ price }}</li>
        </ul>
    </div>
    <div class="row">위의 내용이 맞으시면 아래 결제 버튼을 눌러주세요.</div>
    <form action="{% url 'reservations:views:payment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="restaurant" value="{{ restaurant }}">
        <input type="hidden" name="information" value="{{ information }}">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="party" value="{{ party }}">
        <input type="hidden" name="phone_number" value="{{ phone_number }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="price" value="{{ price }}">
        <input type="hidden" name="information_pk" value="{{ information.pk }}">
        <input type="hidden" name="restaurant_pk" value="{{ restaurant.pk }}">
    <input class="row" type="submit" value="결제">
</form>
{% endblock %}