{% extends 'base.html' %}

{% block content %}
    restaurant: {{ restaurant }}
    date: {{ information.date }}
    time: {{ information.time }}
    name: {{ name }}
    party: {{ party }}
    phone_number: {{ phone_number }}
    email: {{ email }}
    price: {{ price }}
    <form action="{% url 'reservations:views:payment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="restaurant" value="{{ restaurant }}">
        <input type="hidden" name="information" value="{{ information }}">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="party" value="{{ party }}">
        <input type="hidden" name="phone_number" value="{{ phone_number }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="price" value="{{ price }}">
        <input type="hidden" name="information_pk" value="{{ information.pk }}">
        <input type="hidden" name="restaurant_pk" value="{{ restaurant.pk }}">
    <input type="submit" value="결제">
</form>
{% endblock %}