{% extends 'base.html' %}

{% block content %}
    <div>
        restaurant: {{ reservation.restaurant }}
    </div>
    <div>
        information: {{ reservation.information }}
    </div>
    <div>
        name: {{ reservation.name }}
    </div>
    <div>
        party: {{ reservation.party }}
    </div>
    <div>
        price: {{ reservation.price }}
    </div>
    <div>
        status: {{ reservation.status }}
    </div>
    {% if request.user.profile.is_owner %}
        <div>
            payment: {{ payment.imp_uid }}
        </div>
        {% if payment.paymentcancel %}
            <div>
                cancel_reason: {{ payment.paymentcancel.reason }}
            </div>
        {% endif %}
        {% if payment.reservation.status == 'cancel request' %}
            <div>
                <a href="{% url 'reservations:views:payment_cancel_confirm' pk=payment.pk %}">취소 확인</a>
            </div>
        {% endif %}
    {% else  %}
        {% if payment.reservation.status == 'paid' %}
            <div>
                <a href="{% url 'reservations:views:payment_cancel' pk=payment.pk %}">취소 요청</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}