{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link rel="icon" href="../../favicon.ico">#}

    <title>Zinzi</title>


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.css' %}">
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>



    {% block head %}
    {% endblock %}

</head>

<body>
{% include 'navbar.html' %}
<div class="container">


    {% block content %}

    {% endblock %}


</div>

        {% block script %}
        {% endblock %}


</body>
</html>