{% load staticfiles %}
<style>
    #navbar-container {
        background-color: #0f0f0f;
    }
    .navbar-header > a {
        color: white;
    }
    .navbar-header > a:hover {
        color: grey;
    }
    .navbar-header > a:focus {
        color: grey;
    }
    .navbar-collapse > ul > li > a {
        text-decoration: none;
        color: white;
    }
    .navbar-collapse > ul > li > a:focus {
        background-color: black;
        color: grey;
    }
    .navbar-collapse > ul > li > a:hover {
        background-color: black;
        color: grey;
    }
 </style>

<!-- Static navbar -->
<nav class="navbar navbar-static-top" id="navbar-container">
    <div class="container">
        <div class="navbar-header">
            <a id="index" class="navbar-brand navbar-a-tag icon" href="{% url 'index' %}"
               style="font-size:25px;">Zinzi</a>
            {#            <a class="navbar-brand navbar-a-tag" href="{% url 'home' %}" style="font-size:30px; padding-top:30px;"></a>#}
            <!-- <a class="navbar-brand navbar-a-tag" href="" style="font-size:22px;">Zinzi</a><br/> -->
        </div>


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:signout' %}">로그아웃</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:signin' %}">로그인</a></li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>