{% extends 'base.html' %}
{% block title %}프로필{% endblock %}
{% block content %}
    <div>
        <img src="{{ target_user.profile_image.url }}">
    </div>
    <div>
        닉네임: {{ target_user.nickname }}
    </div>
    <a href="{% url 'accounts:update-profile' %}">
        <button>프로필 수정</button>
    </a>
    <div>
        {% if target_user.is_owner == True %}
            <hr>
            <div>레스토랑 목록</div>
        {% endif %}
    </div>
    <div>
        <hr>
        <div>예약 확인</div>
        <a href="{% url 'reservations:views:reservation_check' %}">
            <button>예약 확인</button>
        </a>
    </div>
{% endblock %}